body{
font-family: "Roboto", sans-serif;
}
.btn:hover {
  background-color: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important;
}

.navbar{
  background-color: #222222 !important;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 700;
}
.navbar a{
  color: #fff !important;
  opacity: 0.7;
}
.navbar a:hover{
  opacity: 1;
  background-color: #CD853F !important;
}
.navbar img{
  height: 400px;
  width: 200px;
}
#Home {
  background: url(../images/cosmic.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  color: black;
  text-align: center;
  padding: auto;
  padding-top: 10%;
  position: relative;
  padding-bottom: 15%;
}

img{
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}
.row{
  margin-top: 30px;
}

.header {
  padding: -20px 0;
  background: #D2691E;
  margin-top: 20px;
  color: black;
}

.fa-circle{
  color:#3AAA64;
}

.col-sm-12{
  background: #D2691E;
  color: black;
}
.list-group {
    list-style: disc inside;
}

.list-group-item {
    display: list-item;
}
#modal .modal-dialog .modal-content .modal-footer .btn{
  border-radius: 0;
}

.footer{
  padding: 30px;
  color: #cccccc;
  background-color: #222222;
  font-family: Arial;
}
.footer .social{
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer input{
  height: 40px;
  width: 160px;
  padding-bottom: 5px;
  border: none;
  background-color: #cccccc;
  color: #000;
}
.footer .btn{
  padding: 10px 5px 10px;
  border-radius: 0;
  margin : -3px 0 0 5px;
}
